<!DOCTYPE html>
<html>
<head>
	<title>OAuth App</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>

	<div class="link-to">LOGIN:</div>

	<div class="link-to">
		<% if(user != undefined) { %>

				<h3>Below is the data sent by Facebook</h3>
				<p>
					<%= user.fb %>
				</p>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/facebook"><i class="fa fa-facebook-official fa-3x"></i></a>
		<% } %>
	</div>



<!-- SEARCH BAR -->
		<div id="twit_search">
			<form id="search-form" action="/feeds/search" method="get">
				<input type="text" name="search" id="search" value="" placeholder="Bananas" />
				<button id="search-button">Gimme!</button>
			</form>
		</div>


<!-- RENDER FEEDS -->

<div id="test">
</div>
	  <img src="images/film.png" style="z-index: -1" class="film"/>

	<ul id="scene">
	<!-- TWEETS -->	
	  <li class="layer t" data-depth="0.10" id="one"></li>
	  <li class="layer t" data-depth="0.20" id="two"></li>
	  <li class="layer t" data-depth="0.40" id="three"></li>
	  <li class="layer t" data-depth="0.60" id="four"><li>
	  <li class="layer t" data-depth="0.80" id="five"></li>
	  <li class="layer t" data-depth="1.00" id="six"></li>

	  <!-- GRAMS -->
	  <li class="layer i" data-depth="0.30" id="gram1"></li>
	  <li class="layer i" data-depth="0.50" id="gram2"></li>
	  <li class="layer i" data-depth="0.30" id="gram3"></li>
	</ul>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="js/main.js"></script>

</body>
</html>
