<!DOCTYPE html>
<html>
<head>
	<title>OAuth App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<!-- SEARCH BAR -->
<div id="nav">
	<div id="logo-div">
		<p><img src="images/viral.png" width="100%" /></p>
	</div>
	<div id="twit_search">
		<form role="form" id="search-form">
			<div class="form-group" id="search-bar">
				<input type="text" name="search" class="form-control" id="search" value="" placeholder="Bananas" />
			</div>
			<button id="search-button">Gimme!</button>
		</form>
	</div>
	<div id="link-to">
		<% if(user != undefined) { %>
				<p>
					<%= user.fb.email %>
				</p>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/facebook"><i class="fa fa-facebook-official fa-3x"></i></a>
		<% } %>
	</div>			
</div>


<!-- RENDER FEEDS -->
	<img src="images/film.png" style="z-index: -1" class="film"/>

	<ul id="scene">
	<!-- TWEETS -->	
	  <li class="layer t" data-depth="0.60" id="one"></li>
	  <li class="layer t" data-depth="0.70" id="two"></li>
	  <li class="layer t" data-depth="0.80" id="three"></li>
	  <li class="layer t" data-depth="0.60" id="four"><li>
	  <li class="layer t" data-depth="0.70" id="five"></li>
	  <li class="layer t" data-depth="0.60" id="six"><img src="images/bird.png" width="50%"/></li>

	  <!-- GRAMS -->
	  <li class="layer i" data-depth="0.30" id="gram1"></li>
	  <li class="layer i" data-depth="0.40" id="gram2"></li>
	  <li class="layer i" data-depth="0.30" id="gram3"></li>

	  <!-- TUBES -->
	  <li class="layer y" data-depth="0.15" id="tube1"></li>
	</ul>


<script src="//cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="js/main.js"></script>

<!-- TWITTER MODAL -->
<div id="twitterModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

<!--     Modal content -->
	    <div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Twitter</h4>
			</div>
			<div class="modal-body">
				<div>
					<h4><div id="twitProfilePic" style="display:inline"></div>
					<div id="twitUser" style="display:inline"></div></h4>
					<h2 id="tweetText"></h2>
				</div>
			</div>
			<div class="modal-footer">

			</div>
	    </div>

	</div>
</div>

<!-- INSTAGRAM MODAL -->
<div id="instaModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

<!--     Modal content -->
	    <div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Instagram</h4>
			</div>
			<div class="modal-body">
				<h4><div id="gramUserProfilePic" style="display:inline">
				</div>
				<div id="gramUser" style="display:inline"></div></h4>
				<div id="gram-pic" style="text-align:center">
				</div>
				<h3 id="gramCaption"></h3>
			</div>
			<div class="modal-footer">
				
			</div>
	    </div>

	</div>
</div>

<!-- YOUTUBE MODAL -->
<div id="youtubeModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

<!--     Modal content -->
	    <div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">YouTube</h4>
			</div>
			<div class="modal-body">
				<div id="modalVideo" style="text-align:center"></div>
				<h3 id="videoTitle"></h3>
				<h4><div id="youtube-user"></div></h4>
				<p id="videoDescription"></p>
			</div>
			<div class="modal-footer">
				
			</div>
	    </div>

	</div>
</div>

<!-- MODAL EXAMPLE -->
<!-- <button type="button" id="login-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal" style="margin-top:100px">Login</button>

Login Modal
<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

    Modal content
	    <div class="modal-content">
			<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<form role="form" action="/users/login" method="post">
					<div class="form-group">
						<input name="email" type="email" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="form-group">
						<input name="password" type="password" class="form-control" id="pwd" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Login</button>
				</form>
			</div>
			<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
	    </div>

	</div>
</div> -->


</body>
</html>
