* {
	font-family: 'Open Sans', sans-serif, tahoma;

}

html {
	padding: 0;
	margin: 0;
	height: 3000px;
}

a, li, #logo {
	cursor: pointer;
}
body {
	background-color: #6df0ff;
	margin: 0 auto;
	overflow-x: hidden;
	background-image: url('../images/background.png');
}

#nav {
	width: 100%;
	height: 125px;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.3);
	top: 0;
	padding-top: 25px;
	z-index: 100;
	padding-right: 50px;
}

#nav a, a:active, a:visited {
	color: black;
	text-decoration: none;
}

#nav a:hover {
	color: #ffbb00;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

#logo-div {
	width: 24%;
	height: 100%;
	display: inline-block;
	padding-left: 20px;
}

#twit_search {
	text-align: center;
	width: 65%;
	height: 100%;
	/*position: absolute;*/
	/*top: 0;*/
	display: inline-block;
	/*margin-top: -16px;*/
}

#search-bar {
	width: 80%;
	display: inline-block;
}

#search-button {
	display: inline-block;
	background-color: transparent;
	border: 0;
	overflow: visible;
	padding-left: 10px
}

#link-to {
	text-align: right;
	padding-top: 10px;
	height: 100%;
	/*color: white;*/
	display: inline-block;
}

.link-to a, a:visited, a:active {
	color: blue;
}

.link-to a:hover {
	color: orange;
}

#mascot {
	z-index: 1000;
}

.feed {
	background-color: #7fd0ff;
	clear: both;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 25px;
	border-radius: 25px;
}

.tweet {
	background-image: url('../images/cloud.png'); 
	background-size: cover;
	width: 400px; 
	height: 270px;
}

.tweet2 {
	background-image: url('../images/cloud2.png'); 
	background-size: cover;
	width: 400px; 
	height: 270px;
}

.twit {
	position: relative;
	text-align: center;;
	padding-top: 27%;
	padding-left: 22%;
	height: 200px;
	width: 300px;
}

.frame {
	width: 215px;
	height: 215px;
	z-index: 1;
	margin-left: -181px;
}

.instagram-pic {
  width: 375px;
  height: 375px;
  padding-left: 20px;
  padding-top: 20px;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 75%;
}

.tube {
  width: 450px;
  height: 520px;
  padding-left: 50px;
  padding-bottom: 110px;
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: 260px 240px;
}

.film {
	position: fixed;
	top: 0;
	right: -500;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}


#scene { margin-top: 50px; width: 1000px; }

#one { margin-top: 70px; margin-left: 10px; }
#gram1 { margin-top: 0; margin-left: 650px; }

#tube1 { margin-top: 300px; margin-left: 20px; }

#two{ margin-top: 570px; margin-left: 600px; }

#three{ margin-top: 950px; margin-left: 700px; }
#tube2 { margin-top: 1200px; margin-left: 650px; }

#gram2 { margin-top: 850px; margin-left: 150px; }
#four { margin-top: 1400px; margin-left: 70px; }

#five { margin-top: 1800px; margin-left: 30px; }

#gram3 { margin-top: 1700px; margin-left: 650px; }

#tube3 { margin-top: 2100px; margin-left: 250px; }
#six { margin-top: 2800px; margin-left: 55%; }

#click_me { margin-top: 2700px; margin-left: 55%; display: none;}


.tilt_7 {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.tilt_15 {
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}

.tiltBack_7 {
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.tiltBack_15 {
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
}

.tilt_45 {
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}