* {
	font-family: tahoma;

}

body {
	background-color: #6df0ff;
	margin: 0 auto;
	overflow-x: hidden;
}

#nav {
	width: 100%;
	height: 10%;
	position: fixed;
	background-color: rgba(65, 65, 65, 0.2);
	margin-top: -10px;
	padding: 0;
}

#logo-div {
	width: 24%;
	height: 100%;
	display: inline-block;
}

#twit_search {
	text-align: center;
	width: 51%;
	height: 100%;
	/*position: absolute;*/
	/*top: 0;*/
	display: inline-block;
	/*margin-top: -16px;*/
}

#search-bar {
	width: 80%;
	display: inline-block;
}

#search-button {
	display: inline-block;
}

#link-to {
	text-align: right;
	padding-top: 20px;
	width: 24%;
	height: 100%;
	/*color: white;*/
	display: inline-block;
}

.link-to a, a:visited, a:active {
	color: yellow;
}

.link-to a:hover {
	color: orange;
}

.feed {
	background-color: #7fd0ff;
	clear: both;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 25px;
	border-radius: 25px;
}

.tweet {
	background-image: url('../images/cloud.png'); 
	background-size: cover;
	width: 400px; 
	height: 270px;
}

.twit {
	position: relative;
	text-align: center;;
	padding-top: 27%;
	padding-left: 22%;
	height: 200px;
	width: 250px;
}

.frame {
	width: 215px;
	height: 215px;
	z-index: 1;
	margin-left: -181px;
}

.instagram-pic {
  width: 375px;
  height: 375px;
  padding-left: 10px;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 82%;
}

.film {
	position: fixed;
	top: 0;
	right: -500;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

#scene { margin-top: 50px; width: 1000px; }

#one { margin-top: 70px; margin-left: 10px; }

#two{ margin-top: 570px; margin-left: 400px; }

#three{ margin-top: 350px; margin-left: 700px; }

#four { margin-top: 900px; margin-left: 270px; }

#five { margin-top: 600px; margin-left: 30px; }

#six { margin-top: 1400px; margin-left: 60; }

#gram1 { margin-top: 0; margin-left: 650px; }

#gram2 { margin-top: 750px; margin-left: 50px; }

#gram3 { margin-top: 1500px; margin-left: 350px; }

.tilt_15 {
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}

.tiltBack_15 {
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
}

.tilt_45 {
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}