* {
	font-family: tahoma;
}

body {
	background-color: #7fd0ff;
	margin: 0 auto;
}

.link-to {
	z-index: 100;
	color: white;
	float: left;
	margin: 10px;
	margin-bottom: 50px;
}

.link-to a, a:visited, a:active {
	color: yellow;
}

.link-to a:hover {
	color: orange;
}

.feed {
	background-color: #7fd0ff;
	clear: both;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 25px;
	border-radius: 25px;
}

#twit_search {
	position: fixed;
	top: 10px;
	right: 50%;
	display: inline;
}

.tweet {
	background-image: url('../images/cloud.png'); 
	background-size: cover;
	width: 400px; 
	height: 270px;
	float: left;
}
.twit {
	text-align: center;;
	padding-top: 27%;
	padding-left: 22%;
	height: 200px;
	width: 250px;
}

.frame {
	width: 215px;
	height: 215px;
	z-index: 1;
	margin-left: -181px;
}

.instagram-pic {
  width: 375px;
  height: 375px;
  padding-top: 20px;
}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer-base {
  transform: translateZ(0);
}

.parallax_layer-back {
  transform: translateZ(-1px) scale(2);
}

.parallax_layer-deep {
  transform: translateZ(-2px) scale(3);
}
